<head>
  <link rel="stylesheet" href="style.css" />
</head>
<div class="sign-up-main">
  <div class="sign-up-main-2">
    <div class="left-panel">
      <div class="overlay">
        <h2 class="sign-in-description">
          TRAVEL IS THE ONLY THING YOU BUY THAT MAKES YOU RICHER
        </h2>
        <div class="social-icons">
          <a href="#"
            ><img class="svg-icon" src="img/facebook.svg" alt="facebook"
          /></a>
          <a href="#"><img src="img/instagram.svg" alt="instagram" /></a>
        </div>
      </div>
    </div>
    <div class="right-panel">
      <h2 class="sign-in-title">Sign Up</h2>
      <form class="sign-in-form" action="/signin" method="POST">
        <input
          class="signin-input"
          type="email"
          name="email"
          placeholder="Email"
        />
        <input
          class="signin-input"
          type="password"
          name="password"
          placeholder="password"
          required
        />

        <input class="sign-up-button" type="submit" value="Enter" />
        <div class="sign-up-haveAccount">
          <p>
            already have account?<a class="login-btn" href="/signin"> Login</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
